# Pandas _Series_

É como uma coluna de uma tabela, é possível definir os índices de cada elemento.

In [1]:
import numpy as np
import pandas as pd

In [2]:
my_labels = ['a', 'b', 'c']
my_data = [1, 2, 3]

# Lista
my_labels

['a', 'b', 'c']

In [3]:
# Dicionário
{label:data for label, data in zip(my_labels, my_data)}

{'a': 1, 'b': 2, 'c': 3}

In [4]:
# Numpy Array
np.array(my_data)

array([1, 2, 3])

In [5]:
# Pandas Series
pd.Series(data=my_data, index=my_labels)

a    1
b    2
c    3
dtype: int64

In [6]:
pd.Series(data=my_data, index=my_labels)['b']

2

# Pandas _Dataframe_

É como uma tabela.

In [7]:
my_index = ['a', 'b', 'c']
my_columns = ['x', 'y', 'z']
my_tab_data = np.random.randint(0, 10, (3, 3))

df = pd.DataFrame(data=my_tab_data, index=my_index, columns=my_columns)

df

   x  y  z
a  9  5  6
b  0  8  7
c  2  4  2

In [8]:
df[['x']]

   x
a  9
b  0
c  2

In [9]:
df['x']

a    9
b    0
c    2
Name: x, dtype: int64

In [10]:
df[['x', 'x', 'y']]

   x  x  y
a  9  9  5
b  0  0  8
c  2  2  4